[Unit]
Description=KNX Daemon
After=network.target

[Service]
EnvironmentFile=/etc/knxd.conf
ExecStart=/usr/bin/knxd $KNXD_OPTS
Type=notify
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target network-online.target
