[Unit]
Description=KNXD Configurator for Wiren Board
After=wb-hwconf-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/wb-knxd-config/wb-knxd-config.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
